@import url('https://fonts.googleapis.com/css?family=Raleway');
h1 {
    color: cadetblue;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}
h2 {
    color: cadetblue;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}